
body {
    background: rgba(242, 245, 248, 0.5);
}
.texto {
    text-transform: uppercase;
    color: #EF951C;
    font-size: 33px;
}

.btn-primary{
    background-color: #EF951C;
    border: none;
    width: 100px;
}

hr {
    width: 20%;
    border-top: 3px solid #EF951C;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.center {
    margin: auto;
}

